* {
  color: white;
}

.logo_navbar {
  max-width: 120px;
}

.fotoProfilo {
  max-width: 40px;
}

.genresButton {
  background-color: black;
  height: 40px;
}

.ordineLista button {
  background-color: transparent;
  border: solid 2px #919191;
}

.ordineLista button:hover {
  background-color: #91919163;
}

.ordineLista ion-icon {
  color: #919191;
}

.carousel-control-prev,
.carousel-control-next {
  max-width: 100px;
}

.carousel-inner img:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.carousel-inner img {
  transition: 0.3s transform;
  object-fit: cover;
  max-width: 100%;
}

.carousel-control-prev .carousel-control-prev-icon,
.carousel-control-next .carousel-control-next-icon {
  display: none;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
  display: inline-block;
}

footer * {
  color: #808080;
}

footer a {
  text-decoration: none;
}
footer a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.facebook:hover {
  cursor: pointer;
  color: #0471e1;
}

.insta:hover {
  cursor: pointer;
  color: #fd02c3;
}
.twitter:hover {
  cursor: pointer;
  color: #1ea1f2;
}
.youtube:hover {
  cursor: pointer;
  color: #ff0000;
}

footer button {
  font-size: 15px !important;
}

.links {
  font-size: 15px;
}
